<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row row-footer">
      <div>
        <a href="https://github.com/areumyy" class="link"><img src="/img/github_icon2.png" alt="github" class="contact_icon" style="width: 40px;"></a>
      </div>
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="{{ site.baseurl }}/project">Project</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
        </div>
        <p>&copy; Areum-Jung <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
